[Desktop Entry]
Encoding=UTF-8
Name=Link to Alice 3 How-To Guide
Type=Link
URL=http://www.alice.org/3.1/materials_guide.php
Icon=text-html
Name[en_US]=Alice 3 How-To Guide
