#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pixar in a Box
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=anmmlfbhidollelcgnnofkhbcnplikce
Icon=chrome-anmmlfbhidollelcgnnofkhbcnplikce-Default
StartupWMClass=crx_anmmlfbhidollelcgnnofkhbcnplikce
