[Desktop Entry]
Encoding=UTF-8
Name=Link to Online Math Games for Kids | MathPlayground.com
Type=Link
URL=http://www.mathplayground.com/
Icon=text-html
Name[en_US]=Online Math Games for Kids | MathPlayground.com
