[Desktop Entry]
Encoding=UTF-8
Name=Link to Pixar in a Box | Khan Academy
Type=Link
URL=https://www.khanacademy.org/partner-content/pixar/
Icon=text-html
Name[en_US]=Pixar in a Box - Khan Academy
