[Desktop Entry]
Encoding=UTF-8
Name=Link to 0 A.D. | A free, open-source game of ancient warfare
Type=Link
URL=http://play0ad.com/
Icon=text-html
Name[en_US]=0 A.D. - free, open-source game of ancient warfare
