[Desktop Entry]
Encoding=UTF-8
Name=Link to Xye - A puzzle game with varied gameplay
Type=Link
URL=http://xye.sourceforge.net/
Icon=text-html
Name[en_US]=Xye - A puzzle game with varied gameplay
