[Desktop Entry]
Encoding=UTF-8
Name=Link to using:quickstart [Avidemux]
Type=Link
URL=http://www.avidemux.org/admWiki/doku.php?id=using:quickstart
Icon=text-html
Name[en_US]=Avidemux - quickstart
