[Desktop Entry]
Encoding=UTF-8
Name=Link to Code Monster from Crunchzilla
Type=Link
URL=http://www.crunchzilla.com/code-monster
Icon=text-html
Name[en_US]=Code Monster from Crunchzilla
