[Desktop Entry]
Encoding=UTF-8
Name=Link to Intro to JS: Drawing & Animation | Computer programming | Khan Academy
Type=Link
URL=https://www.khanacademy.org/computing/computer-programming/programming
Icon=text-html
Name[en_US]=Intro to JS: Drawing & Animation | Computer programming | Khan Academy
