[Desktop Entry]
Encoding=UTF-8
Name=Link to Learn Essential Javascript Fundamentals | Udemy
Type=Link
URL=https://www.udemy.com/learn-javascript-fundamentals-in-an-hour/learn/#/
Icon=text-html
Name[en_US]=Learn Essential Javascript Fundamentals | Udemy
