[Desktop Entry]
Encoding=UTF-8
Name=Link to Pluralsight Training
Type=Link
URL=http://www.pluralsight.com/courses/teaching-kids-basic-html
Icon=text-html
Name[en_US]=Basic HTML for Kids - Pluralsight
