[Desktop Entry]
Encoding=UTF-8
Name=Link to Erase All Kittens
Type=Link
URL=https://eraseallkittens.com/en/play/#/play/levels/editing-text.html
Icon=text-html
Name[en_US]=Erase All Kittens
