[Desktop Entry]
Encoding=UTF-8
Name=Link to Snap! (Build Your Own Blocks) 4.0
Type=Link
URL=http://byob.berkeley.edu/
Icon=text-html
Name[en_US]=Snap!
