[Desktop Entry]
Encoding=UTF-8
Name=Link to FunBrain.com - The Internet's #1 Education Site for K-8 Kids and Teachers - Funbrain.com
Type=Link
URL=http://www.funbrain.com/
Icon=text-html
Name[en_US]=FunBrain.com - Education Site for K-8 Kids and Teachers - Funbrain.com
