[Desktop Entry]
Encoding=UTF-8
Name=Link to Wikipedia, the free encyclopedia
Type=Link
URL=https://en.wikipedia.org/wiki/Main_Page
Icon=text-html
Name[en_US]=Wikipedia - the free encyclopedia
