#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pingus
GenericName=Free Lemmings(TM) clone
GenericName[de]=Freier Lemmings(TM)-Klon
Comment=Guide a horde of penguins through various obstacles
Exec=pingus
Icon=pingus-icon
Terminal=false
Type=Application
Categories=Game;StrategyGame;
