[Desktop Entry]
Encoding=UTF-8
Name=Link to Atomic Tanks -- Documentation
Type=Link
URL=http://atanks.sourceforge.net/docs.html
Icon=text-html
Name[en_US]=Atomic Tanks -- Documentation
