#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Gramps
Name[ar]=غرمبز
Name[bg]=Gramps
Name[ca]=Gramps
Name[cs]=Gramps
Name[da]=Gramps
Name[de]=Gramps
Name[el]=Gramps
Name[es]=Gramps
Name[fi]=Kaaviot
Name[fr]=Gramps
Name[he]=Gramps
Name[hr]=Gramps
Name[hu]=GRAMPS
Name[it]=Gramps
Name[ja]=Gramps
Name[lt]=Gramps
Name[nb]=Gramps
Name[nl]=Gramps
Name[nn]=Gramps
Name[pl]=Gramps
Name[pt_BR]=Gramps
Name[pt_PT]=Gramps
Name[ru]=Gramps
Name[sk]=Gramps
Name[sl]=Gramps
Name[sv]=Gramps
Name[uk]=Gramps
Name[vi]=Gramps 
Name[zh_CN]=Gramps
GenericName=Genealogy System
GenericName[ar]=نظام الأنساب
GenericName[ca]=Sistema Genealògic
GenericName[cs]=Genealogický systém
GenericName[da]=Slægtsforskningsprogrammet
GenericName[de]=Genealogiesystem
GenericName[el]=Σύστημα γενεαλογίας
GenericName[es]=Sistema de genealogía
GenericName[fi]=Sukututkimusjärjestelmä
GenericName[fr]=Système de généalogie
GenericName[hr]=Rodoslovni sustav
GenericName[hu]=Származástani Rendszer
GenericName[it]=Sistema Genealogico
GenericName[lt]=Genealogijos Sistema
GenericName[nb]=Slektsforskersystem
GenericName[nl]=Genealogiesysteem
GenericName[nn]=Slektsgranskarsystem
GenericName[pl]=System Genealogiczny
GenericName[pt_BR]=Sistema de genealogia
GenericName[pt_PT]=Sistema de genealogia
GenericName[ru]=Генеалогическая система
GenericName[sk]=Genealogy System
GenericName[sv]=Släktforskningssystem
GenericName[uk]=Генеалогічна система
X-GNOME-FullName=Gramps Genealogy System
X-GNOME-FullName[ar]=غرمبز نظام الأنساب
X-GNOME-FullName[bg]=Генеалогична система Gramps
X-GNOME-FullName[ca]=Sistema Genealògic Gramps
X-GNOME-FullName[cs]=Genealogický systém Gramps
X-GNOME-FullName[da]=Slægtsforskningsprogrammet Gramps
X-GNOME-FullName[de]=Gramps Genealogiesystem
X-GNOME-FullName[el]=Σύστημα γενεαλογίας Gramps
X-GNOME-FullName[es]=Sistema de genealogía Gramps
X-GNOME-FullName[fi]=Gramps sukututkimusjärjestelmä
X-GNOME-FullName[fr]=Système de généalogie Gramps
X-GNOME-FullName[he]=Gramps מערכת גינאולוגית
X-GNOME-FullName[hr]=GRAMPS rodoslovni sustav
X-GNOME-FullName[hu]=GRAMPS Származástani Rendszer
X-GNOME-FullName[it]=Sistema Genealogico Gramps
X-GNOME-FullName[ja]=Gramps Genealogy System
X-GNOME-FullName[lt]=Gramps Genealogijos Sistema
X-GNOME-FullName[nb]=Gramps Slektsforskersystem
X-GNOME-FullName[nl]=Gramps genealogiesysteem
X-GNOME-FullName[nn]=Gramps Slektsgranskarsystem
X-GNOME-FullName[pl]=Gramps System Genealogiczny
X-GNOME-FullName[pt_BR]=Sistema de genealogia Gramps
X-GNOME-FullName[pt_PT]=Sistema de genealogia Gramps
X-GNOME-FullName[ru]=Генеалогическая Система Gramps
X-GNOME-FullName[sk]=Gramps Genealogy System
X-GNOME-FullName[sl]=Rodoslovni sistem Gramps
X-GNOME-FullName[sv]=Gramps Genealogisystem
X-GNOME-FullName[uk]=Генеалогічна система Gramps
X-GNOME-FullName[vi]=Hệ thống gia phả Gramps 
X-GNOME-FullName[zh_CN]=GRAMPS 家谱系统 
Comment=Manage genealogical information, perform genealogical research and analysis
Comment[bg]=Управление на генеалогична информация, извършване на генеалогични изследвания и анализи
Comment[ca]=Gestió d'informació genealògica, anàlisi i recerca genealògiques
Comment[cs]=Spravuje genealogické informace, provádí genealogický výzkum a analýzy
Comment[da]=Arbejd med slægtsoplysninger, udfør slægtsforskning og analyser
Comment[de]=Verwaltet genealogische Informationen, organisiert genealogische Forschung und Analyse
Comment[el]=Διαχείριση γενεαλογικών δεδομένων, γενεαλογική έρευνα και ανάλυση
Comment[es]=Gestionar información genealógica, realizar investigación y análisis genealógico
Comment[fi]=Hallinnoi sukutietoja, tee sukututkimusta ja analysoi sukutietoja
Comment[fr]=Gestion des informations généalogiques, optimisation de la recherche et de l'analyse
Comment[hr]=Upravljanje rodoslovnim podacima, izvođenje rodoslovnih istraživanja i analiza
Comment[hu]=Származástani információkat kezel, származástani kutatást és elemzést hajt végre
Comment[it]=Gestisce informazioni genealogiche, effettua ricerche ed analisi genealogiche
Comment[lt]=Tvarkyti geneologinę informaciją, atlikti geneologinius tyrinėjimus ir analizę
Comment[mk]=Управува со генеалошки информации, извршува генеалошко истражување и објаснување
Comment[nb]=Håndtere slektsforskerinformasjon, utføre slektsforskning og analyse
Comment[nl]=Beheer genealogische informatie, doe genealogisch onderzoek en analyse
Comment[nn]=Handsama slektsgranskarinformasjon, utføra slektsgransking og analyse
Comment[pl]=Zarządzaj informacjami genealogicznymi, wykonuj badania genealogiczne
Comment[pt_BR]=Gerencia informações genealógicas, executa pesquisas e análises genealógicas
Comment[pt_PT]=Gerir informação genealógica, executar investigação e análise genealógicas
Comment[ru]=Систематизируйте генеалогические данные, занимайтесь генеалогическими исследованиями и анализом
Comment[sk]=Spravuje genealogické informácie, vykonáva genealogické skúmania a analýzy
Comment[sl]=Upravljaj z rodoslovnimi podatki, vodi rodoslovne raziskave in analize
Comment[sq]=Menaxho informacione gjenalogjike,bëj analiza dhe hulumtim gjenealogjik
Comment[sv]=Hantera genealogiska data, utför genealogisk forskning och analys
Comment[uk]=Керування генеалогічною інформацією, проведення генеалогічних досліджень та аналізів
Comment[vi]=Quản lý thông tin gia phả, thực hiện nghiên cứu và phân tích gia phả học 
Comment[zh_CN]=管理家谱信息，实施家谱搜索和分析
Icon=gramps
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Office;
MimeType=application/x-gramps;application/x-gedcom;application/x-gramps-package;application/x-gramps-xml;
Exec=gramps %F
