[Desktop Entry]
Encoding=UTF-8
Name=Link to Kamehameha Schools Distance Learning | Hawaiian Resources
Type=Link
URL=http://ksdl.ksbe.edu/hawaiian_resources
Icon=text-html
Name[en_US]=Kamehameha Schools Distance Learning | Hawaiian Resources
