[Desktop Entry]
Encoding=UTF-8
Name=Link to Nā Puke Wehewehe ʻŌlelo Hawaiʻi
Type=Link
URL=http://wehewehe.org/
Icon=text-html
Name[en_US]=wehewehe.org - Nā Puke Wehewehe ʻŌlelo Hawaiʻi
