#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Camera
GenericName=camera-app
Comment=Camera application
Exec=camera-app %u
Terminal=false
Icon=camera-app
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=camera-app
X-Ubuntu-Single-Instance=true
