[Desktop Entry]
Encoding=UTF-8
Name=Link to CodePupil - Learn to code thru fun visual exercises & games
Type=Link
URL=http://codepupil.com/
Icon=text-html
Name[en_US]=CodePupil - Learn to code thru fun visual exercises & games
