[Desktop Entry]
Encoding=UTF-8
Name=Link to Code Avengers: learn to code games, apps and websites
Type=Link
URL=https://www.codeavengers.com/
Icon=text-html
Name[en_US]=Code Avengers: learn to code games, apps and websites
