[Desktop Entry]
Encoding=UTF-8
Name=Link to CodePen - Front End Developer Playground & Code Editor in the Browser
Type=Link
URL=http://codepen.io/
Icon=text-html
Name[en_US]=CodePen - Front End Developer Playground & Code Editor in the Browser
