[Desktop Entry]
Encoding=UTF-8
Name=Link to ABCya! | Educational Computer Games and Apps for Kids
Type=Link
URL=http://www.abcya.com/
Icon=text-html
Name[en_US]=ABCya! | Educational Computer Games and Apps for Kids
