[Desktop Entry]
Encoding=UTF-8
Name=Link to Dashboard | Khan Academy
Type=Link
URL=https://www.khanacademy.org/welcome
Icon=text-html
Name[en_US]=Khan Academy
