[Desktop Entry]
Encoding=UTF-8
Name=Link to KidsClick! Web Search
Type=Link
URL=http://www.kidsclick.org/
Icon=text-html
Name[en_US]=kidsclick.org - KidsClick! Web Search
