[Desktop Entry]
Encoding=UTF-8
Name=Link to Dictionary, Encyclopedia and Thesaurus - The Free Dictionary
Type=Link
URL=http://www.thefreedictionary.com/
Icon=text-html
Name[en_US]=thefreedictionary.com - Dictionary, Encyclopedia and Thesaurus - The Free Dictionary
