[Desktop Entry]
Encoding=UTF-8
Name=Link to Controls - Minetest Wiki
Type=Link
URL=http://wiki.minetest.net/Controls
Icon=text-html
Name[en_US]=Minetest Wiki
