[Desktop Entry]
Encoding=UTF-8
Name=Link to BBC - Learn Chinese with free online lessons
Type=Link
URL=http://www.bbc.co.uk/languages/chinese/
Icon=text-html
Name[en_US]=BBC - Learn Chinese with free online lessons
