[Desktop Entry]
Encoding=UTF-8
Name=Link to Learn Chinese - Free online mandarin audio courses
Type=Link
URL=http://www.chinese-tools.com/learn/chinese
Icon=text-html
Name[en_US]=chinese-tools.com - Learn Chinese - Free online mandarin audio courses
