[Desktop Entry]
Encoding=UTF-8
Name=Link to Mandarin Chinese Character Dictionary - 中英字典 － YellowBridge
Type=Link
URL=http://www.yellowbridge.com/chinese/character-dictionary.php
Icon=text-html
