[Desktop Entry]
Encoding=UTF-8
Name=Link to Chinese Character Dictionary
Type=Link
URL=http://www.mandarintools.com/chardict.html
Icon=text-html
Name[en_US]=mandarintools.com - Chinese Character Dictionary
