[Desktop Entry]
Encoding=UTF-8
Name=Link to Learn Chinese Characters
Type=Link
URL=http://zhongwen.com/
Icon=text-html
Name[en_US]=zhongwen.com - Learn Chinese Characters
