[Desktop Entry]
Encoding=UTF-8
Name=Link to CSS Diner - Where we feast on CSS Selectors!
Type=Link
URL=http://flukeout.github.io/
Icon=text-html
Name[en_US]=CSS Diner - Where we feast on CSS Selectors!
