[Desktop Entry]
Encoding=UTF-8
Name=Link to Unfolding the Box Model: Exploring CSS 3D Transforms
Type=Link
URL=http://rupl.github.io/unfold/
Icon=text-html
Name[en_US]=Unfolding the Box Model: Exploring CSS 3D Transforms
