[Desktop Entry]
Encoding=UTF-8
Name=Link to Blockly Games
Type=Link
URL=https://blockly-games.appspot.com/?lang=en
Icon=text-html
Name[en_US]=Blockly Games
