[Desktop Entry]
Encoding=UTF-8
Name=Link to Made with Code | Google
Type=Link
URL=https://www.madewithcode.com/
Icon=text-html
Name[en_US]=Made with Code | Google
