[Desktop Entry]
Encoding=UTF-8
Name=Link to MIT App Inventor | Explore MIT App Inventor
Type=Link
URL=http://appinventor.mit.edu/explore/
Icon=text-html
Name[en_US]=MIT App Inventor | Explore MIT App Inventor
