[Desktop Entry]
Encoding=UTF-8
Name=Link to Mitch Resnick: Let's teach kids to code | TED Talk | TED.com
Type=Link
URL=http://www.ted.com/talks/mitch_resnick_let_s_teach_kids_to_code
Icon=text-html
Name[en_US]=Mitch Resnick: Let's teach kids to code | TED Talk | TED.com
