#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=10 More Fun Questions Kids Can Answer...
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fhjeejciakmiainnoedcjhenciifckec
Icon=chrome-fhjeejciakmiainnoedcjhenciifckec-Default
StartupWMClass=crx_fhjeejciakmiainnoedcjhenciifckec
