#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=10 Fun Questions Kids Can Answer with...
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=jmpgebikdedinkogamnmldnjolboaeha
Icon=chrome-jmpgebikdedinkogamnmldnjolboaeha-Default
StartupWMClass=crx_jmpgebikdedinkogamnmldnjolboaeha
