[Desktop Entry]
Encoding=UTF-8
Name=Link to HTML5 Tutorial | HTML 5 Tutorial
Type=Link
URL=http://www.html-5-tutorial.com/
Icon=text-html
Name[en_US]=HTML5 Tutorial
