[Desktop Entry]
Encoding=UTF-8
Name=Link to Lissa Explains it All -- HTML Help and Tutorial for Kids
Type=Link
URL=http://www.lissaexplains.com/basics.shtml
Icon=text-html
Name[en_US]=Lissa Explains it All -- HTML Help and Tutorial for Kids
