[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Childsplay
GenericName=Childsplay
Comment=Suite of educational games for young children
Icon=logo_cp_32x32.xpm
Exec=childsplay --fullscreen
Terminal=false
StartupNotify=false
Categories=Application;Game;Education;KidsGame;2DGraphics;
