[Desktop Entry]
Encoding=UTF-8
Name=Link to Starfall: Learn to Read with Phonics, Learn Mathematics
Type=Link
URL=http://www.starfall.com/
Icon=text-html
Name[en_US]=Starfall
